.EnumBox{
    display: flex;
    position: relative;
}

.EnumInput-Dark{
    align-items: center;
    background-color: #2C3333;
    border: 1px solid gray;
    border-radius: 10px;
    color: #91C788;
    display: flex;
    font: 16px 'Kanit', sans-serif;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    outline: none;
    width: 220px;
}

.EnumInput-Dark:focus{
    border: 1px solid #91C788;
}

.EnumInput-Dark:valid{
    border: 1px solid #91C788;
}

.EnumIcon-Dark{
    align-items: center;
    color: #52734D;
    display: flex;
    font-family: 'Kanit', sans-serif;
    float: right;
    position: absolute;
    justify-content: center;
    left: 90%;
    top: 30%;
}

.EnumIcon-Dark:hover{
    cursor: pointer;
}

.EnumInput-Dark:valid ~ .EnumIcon-Dark{
    color: #91C788;
}

.EnumInput-Dark:focus ~ .EnumIcon-Dark{
    color: #91C788;
}

.EnumInput-Light{
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid gray;
    border-radius: 10px;
    color: #645CBB;
    display: flex;
    font: 16px 'Kanit', sans-serif;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    outline: none;
    width: 220px;
}

.EnumLabel-Light{
    color: #BFACE2;
    font: 16px 'Kanit', sans-serif;
    padding: 0 5px;
    position: absolute;
    left: 7%;
    top: 17%;
    transition: all 0.5s;
}
.EnumInput-Light:focus{
    border: 2px solid #645CBB;
}

.EnumInput-Light:focus ~ .EnumLabel-Light{
    top: -35%;
    background-color: #FAFAFA;
    color: #645CBB;
}

.EnumInput-Light:valid{
    border: 2px solid #645CBB;
}

.EnumInput-Light:valid ~ .EnumLabel-Light{
    top: -35%;
    background-color: #FAFAFA;
    color: #645CBB;
}