.DateBox{
    display: flex;
    position: relative;
}

.DateInput-Dark{
    align-items: center;
    background-color: #2C3333;
    border: 1px solid gray;
    border-radius: 10px;
    color: #91C788;
    display: flex;
    font: 16px 'Kanit', sans-serif;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    outline: none;
}

.DateLabel-Dark{
    color: #52734D;
    font: 16px 'Kanit', sans-serif;
    padding: 0 5px;
    position: absolute;
    left: 70%;
    top: 17%;
    transition: all 0.5s;
}
.DateInput-Dark:focus{
    border: 1px solid #91C788;
}

.DateInput-Dark:focus ~ .DateLabel-Dark{
    background-color: #2C3333;
    color: #91C788;
}

.DateInput-Dark:valid{
    border: 1px solid #91C788;
}

.DateInput-Dark:valid ~ .DateLabel-Dark{
    background-color: #2C3333;
    color: #91C788;
}


.DateInput-Light{
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid gray;
    border-radius: 10px;
    color: #645CBB;
    display: flex;
    font: 16px 'Kanit', sans-serif;
    height: 35px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    outline: none;
}

.DateLabel-Light{
    color: #BFACE2;
    font: 16px 'Kanit', sans-serif;
    padding: 0 5px;
    position: absolute;
    left: 70%;
    top: 17%;
    transition: all 0.5s;
}
.DateInput-Light:focus{
    border: 2px solid #645CBB;
}

.DateInput-Light:focus ~ .DateLabel-Light{
    background-color: #FAFAFA;
    color: #645CBB;
}

.DateInput-Light:valid{
    border: 2px solid #645CBB;
}

.DateInput-Light:valid ~ .DateLabel-Light{
    background-color: #FAFAFA;
    color: #645CBB;
}
