.Button{
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 80px;
}

.Button:hover{
    cursor: pointer;
}

.Disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.Positive{
    background-color: #00ADB5;
    color: #EEEEEE;
}

.Negative{
    background-color: #FF524A;
    color: #111111;
}